Source: cloudsim-client-tools
Standards-Version: 3.9.3
Maintainer: Hugo Boyer <hugo@osrfoundation.org>
Section: devel
Priority: extra
Build-Depends: cmake, debhelper (>= 7.0.50~) 
Homepage: http://osrfoundation.org

Package: cloudsim-client-tools
Architecture: any
Section: devel
Priority: extra
Depends: ${misc:Depends}
Description: utilities for cloud based virtual simulation instances
 utilities for cloud based virtual simulation instances
Homepage: http://osrfoundation.org
